# Database
#DATABASE_URL="mysql://user:password@localhost:3306/ecommerce_db"
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=ecommerce_db
MYSQL_PORT=3307

# API
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_API_CO_ID_KEY="asdawqdafref"

# Auth
JWT_SECRET="ferfgrgsgrw"
REFRESH_TOKEN_SECRET="ywegbyukt"
JWT_EXPIRES_IN="7d"

# App
NEXT_PUBLIC_APP_NAME="Agri X"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Theme
NEXT_PUBLIC_DEFAULT_THEME="light"

# Midtrans Payment Gateway
MIDTRANS_SERVER_KEY=Mid-server-awdfgbnmkjhe
MIDTRANS_CLIENT_KEY=Mid-client-vseghjmnweg
MIDTRANS_IS_PRODUCTION=false

# API.co.id - Dapatkan dari https://api.co.id
API_CO_ID_KEY="sefwgvwawfgnteyevseqf"

# Payment Settings
PAYMENT_EXPIRY_HOURS=24